<form>
    <fieldset>
        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="FirstName">First Name:</label>
            <div class="col-md-4">
                <input id="FirstName" name="FirstName" type="text" placeholder="First Name" class="form-control input-md" required="">
            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="LastName">Last Name:</label>
            <div class="col-md-4">
                <input id="LastName" name="LastName" type="text" placeholder="Last Name" class="form-control input-md" required="">
            </div>
        </div>

        <!-- Select Basic -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="positions">Position Applying For</label>
            <div class="col-md-4">
                <select id="positions" name="positions" class="form-control">
                    <option value="1">Option one</option>
                    <option value="2">Option two</option>
                </select>
            </div>
        </div>

        <!-- File Button -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="resumefile">Attach Resume</label>
            <div class="col-md-4">
                <input id="resumefile" name="resumefile" class="input-file" type="file">
            </div>
        </div>

        <!-- Button -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="submit"></label>
            <div class="col-md-4">
                <button id="submit" name="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </fieldset>
</form>