@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Success</title>
</head>
<body>
    <div>
        <h1 class="alert alert-success">Congratulations and Thanks for applying!</h1>
    </div>
</body>
</html>