@model HRPortal.Data.MockPolicyRepo

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@*create a new category button on top*@
@*create table to display category list*@
<h1>Categories</h1>
<table class="table">
    <thead>
    <th>ID</th>
    <th>Policy</th>
    </thead>
</table>