@{
    ViewBag.Title = "Index";
}

@*todo apply is taking you to the list not a new form page*@
<h2>ETT Prestige WorldWide</h2>

<div class="bg"></div>
<div class="jumbotron">
    <div class="row">
        <div class="col-lg-4">
            <img src="~/Content/Images/Pineapple.jpg" class="img" >
        </div>
    </div>
</div>
<!-- End of JumboTron -->