@{
    ViewBag.Title = "Index";
}

<div class="bg"></div>
<div class="jumbotron">
    <div class="row">
        <div class="col-lg-4">
            <img src="~/Content/Images/Pineapple.jpg" class="img">
        </div>
    </div>
</div>
<!-- End of JumboTron -->